Repository copperpoddigital/create-agent-f16fhc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @api-team, @data-science-team, @data-team, @integration-team, @frontend-team, @data-visualization-team, @devops-team, @cloud-team, @kubernetes-team, @ci-cd-team, @documentation-team, @qa-team, @database-team, @security-team, @observability-team

.github/CODEOWNERS:

# Each line contains a file pattern followed by one or more owners who will be
# requested for review when a pull request modifies files matching that pattern.
# The last matching pattern takes precedence.

# Default ownership for all files in the repository
*                                       @project-leads

# Backend Python application code ownership
src/backend/                            @backend-team

# API endpoints and controllers
src/backend/api/                        @api-team @backend-team

# Core analysis engine with price movement calculations
src/backend/services/analysis_engine.py @data-science-team @backend-team

# Database models and schemas
src/backend/models/                     @data-team @backend-team

# External system connectors for TMS, ERP, etc.
src/backend/connectors/                 @integration-team @backend-team

# Web frontend application code
src/web/                                @frontend-team

# Data visualization components
src/web/src/components/charts/          @data-visualization-team @frontend-team

# Infrastructure as code, deployment configurations
infrastructure/                          @devops-team

# Terraform configurations for cloud infrastructure
infrastructure/terraform/                @cloud-team @devops-team

# Kubernetes deployment configurations
infrastructure/kubernetes/               @kubernetes-team @devops-team

# CI/CD pipeline configurations
.github/workflows/                       @ci-cd-team @devops-team

# Project documentation
docs/                                    @documentation-team

# Markdown documentation files
*.md                                     @documentation-team

# Backend test files
src/backend/tests/                       @qa-team @backend-team

# Frontend test files
src/web/tests/                           @qa-team @frontend-team

# End-to-end test files
src/web/cypress/                         @qa-team @frontend-team

# Database migration files
src/backend/migrations/                  @database-team @backend-team

# Security-related code
src/backend/core/security.py             @security-team @backend-team

# Logging and monitoring code
src/backend/core/logging.py              @observability-team @backend-team

Add public-samples/create-agent-f16fhc/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/scripts/init-db.sh
  infrastructure/scripts/init-db.sh
Owners: @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/scripts/monitoring-setup.sh
  infrastructure/scripts/monitoring-setup.sh
Owners: @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/scripts/restore.sh
  infrastructure/scripts/restore.sh
Owners: @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/main.tf
  infrastructure/terraform/aws/main.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/outputs.tf
  infrastructure/terraform/aws/outputs.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/provider.tf
  infrastructure/terraform/aws/provider.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/variables.tf
  infrastructure/terraform/aws/variables.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/environments/dev.tfvars
  infrastructure/terraform/aws/environments/dev.tfvars
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/environments/prod.tfvars
  infrastructure/terraform/aws/environments/prod.tfvars
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/environments/staging.tfvars
  infrastructure/terraform/aws/environments/staging.tfvars
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/modules/ecs/main.tf
  infrastructure/terraform/aws/modules/ecs/main.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/modules/ecs/outputs.tf
  infrastructure/terraform/aws/modules/ecs/outputs.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/modules/ecs/variables.tf
  infrastructure/terraform/aws/modules/ecs/variables.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/modules/elasticache/main.tf
  infrastructure/terraform/aws/modules/elasticache/main.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/modules/elasticache/outputs.tf
  infrastructure/terraform/aws/modules/elasticache/outputs.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/modules/elasticache/variables.tf
  infrastructure/terraform/aws/modules/elasticache/variables.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/modules/network/main.tf
  infrastructure/terraform/aws/modules/network/main.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/modules/network/outputs.tf
  infrastructure/terraform/aws/modules/network/outputs.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/modules/network/variables.tf
  infrastructure/terraform/aws/modules/network/variables.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/modules/rds/main.tf
  infrastructure/terraform/aws/modules/rds/main.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/modules/rds/outputs.tf
  infrastructure/terraform/aws/modules/rds/outputs.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/modules/rds/variables.tf
  infrastructure/terraform/aws/modules/rds/variables.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/modules/s3/main.tf
  infrastructure/terraform/aws/modules/s3/main.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/modules/s3/outputs.tf
  infrastructure/terraform/aws/modules/s3/outputs.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/modules/s3/variables.tf
  infrastructure/terraform/aws/modules/s3/variables.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/modules/security/main.tf
  infrastructure/terraform/aws/modules/security/main.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/modules/security/outputs.tf
  infrastructure/terraform/aws/modules/security/outputs.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/terraform/aws/modules/security/variables.tf
  infrastructure/terraform/aws/modules/security/variables.tf
Owners: @cloud-team, @devops-team

Add public-samples/create-agent-f16fhc/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/.gitignore
  src/backend/.gitignore
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/README.md
  src/backend/README.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/src/backend/alembic.ini
  src/backend/alembic.ini
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/app.py
  src/backend/app.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/config.py
  src/backend/config.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team
