Repository copperpoddigital/create-agent-f16fhc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @api-team, @data-science-team, @data-team, @integration-team, @frontend-team, @data-visualization-team, @devops-team, @cloud-team, @kubernetes-team, @ci-cd-team, @documentation-team, @qa-team, @database-team, @security-team, @observability-team

.github/CODEOWNERS:

# Each line contains a file pattern followed by one or more owners who will be
# requested for review when a pull request modifies files matching that pattern.
# The last matching pattern takes precedence.

# Default ownership for all files in the repository
*                                       @project-leads

# Backend Python application code ownership
src/backend/                            @backend-team

# API endpoints and controllers
src/backend/api/                        @api-team @backend-team

# Core analysis engine with price movement calculations
src/backend/services/analysis_engine.py @data-science-team @backend-team

# Database models and schemas
src/backend/models/                     @data-team @backend-team

# External system connectors for TMS, ERP, etc.
src/backend/connectors/                 @integration-team @backend-team

# Web frontend application code
src/web/                                @frontend-team

# Data visualization components
src/web/src/components/charts/          @data-visualization-team @frontend-team

# Infrastructure as code, deployment configurations
infrastructure/                          @devops-team

# Terraform configurations for cloud infrastructure
infrastructure/terraform/                @cloud-team @devops-team

# Kubernetes deployment configurations
infrastructure/kubernetes/               @kubernetes-team @devops-team

# CI/CD pipeline configurations
.github/workflows/                       @ci-cd-team @devops-team

# Project documentation
docs/                                    @documentation-team

# Markdown documentation files
*.md                                     @documentation-team

# Backend test files
src/backend/tests/                       @qa-team @backend-team

# Frontend test files
src/web/tests/                           @qa-team @frontend-team

# End-to-end test files
src/web/cypress/                         @qa-team @frontend-team

# Database migration files
src/backend/migrations/                  @database-team @backend-team

# Security-related code
src/backend/core/security.py             @security-team @backend-team

# Logging and monitoring code
src/backend/core/logging.py              @observability-team @backend-team

Add public-samples/create-agent-f16fhc/src/backend/utils/formatters.py
  src/backend/utils/formatters.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/utils/validators.py
  src/backend/utils/validators.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/utils/visualization.py
  src/backend/utils/visualization.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/.eslintrc.js
  src/web/.eslintrc.js
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/.gitignore
  src/web/.gitignore
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/README.md
  src/web/README.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/src/web/babel.config.js
  src/web/babel.config.js
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/cypress.config.ts
  src/web/cypress.config.ts
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/docker-compose.yml
  src/web/docker-compose.yml
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/package.json
  src/web/package.json
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/webpack.config.ts
  src/web/webpack.config.ts
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/cypress/tsconfig.json
  src/web/cypress/tsconfig.json
Owners: @qa-team, @frontend-team

Add public-samples/create-agent-f16fhc/src/web/cypress/e2e/analysis.cy.ts
  src/web/cypress/e2e/analysis.cy.ts
Owners: @qa-team, @frontend-team

Add public-samples/create-agent-f16fhc/src/web/cypress/e2e/dashboard.cy.ts
  src/web/cypress/e2e/dashboard.cy.ts
Owners: @qa-team, @frontend-team

Add public-samples/create-agent-f16fhc/src/web/cypress/e2e/data-sources.cy.ts
  src/web/cypress/e2e/data-sources.cy.ts
Owners: @qa-team, @frontend-team

Add public-samples/create-agent-f16fhc/src/web/cypress/e2e/login.cy.ts
  src/web/cypress/e2e/login.cy.ts
Owners: @qa-team, @frontend-team

Add public-samples/create-agent-f16fhc/src/web/cypress/e2e/reports.cy.ts
  src/web/cypress/e2e/reports.cy.ts
Owners: @qa-team, @frontend-team

Add public-samples/create-agent-f16fhc/src/web/cypress/e2e/settings.cy.ts
  src/web/cypress/e2e/settings.cy.ts
Owners: @qa-team, @frontend-team

Add public-samples/create-agent-f16fhc/src/web/cypress/fixtures/analysis-results.json
  src/web/cypress/fixtures/analysis-results.json
Owners: @qa-team, @frontend-team

Add public-samples/create-agent-f16fhc/src/web/cypress/fixtures/data-sources.json
  src/web/cypress/fixtures/data-sources.json
Owners: @qa-team, @frontend-team

Add public-samples/create-agent-f16fhc/src/web/cypress/fixtures/reports.json
  src/web/cypress/fixtures/reports.json
Owners: @qa-team, @frontend-team

Add public-samples/create-agent-f16fhc/src/web/cypress/fixtures/users.json
  src/web/cypress/fixtures/users.json
Owners: @qa-team, @frontend-team

Add public-samples/create-agent-f16fhc/src/web/cypress/support/commands.ts
  src/web/cypress/support/commands.ts
Owners: @qa-team, @frontend-team

Add public-samples/create-agent-f16fhc/src/web/cypress/support/e2e.ts
  src/web/cypress/support/e2e.ts
Owners: @qa-team, @frontend-team

Add public-samples/create-agent-f16fhc/src/web/public/index.html
  src/web/public/index.html
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/src/react-app-env.d.ts
  src/web/src/react-app-env.d.ts
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/src/api/analysis-api.ts
  src/web/src/api/analysis-api.ts
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/src/api/api-client.ts
  src/web/src/api/api-client.ts
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/src/api/auth-api.ts
  src/web/src/api/auth-api.ts
Owners: @frontend-team

Add public-samples/create-agent-f16fhc/src/web/src/api/data-source-api.ts
  src/web/src/api/data-source-api.ts
Owners: @frontend-team
