Repository copperpoddigital/create-agent-f16fhc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @api-team, @data-science-team, @data-team, @integration-team, @frontend-team, @data-visualization-team, @devops-team, @cloud-team, @kubernetes-team, @ci-cd-team, @documentation-team, @qa-team, @database-team, @security-team, @observability-team

Add public-samples/create-agent-f16fhc/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/wsgi.py
  src/backend/wsgi.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/__init__.py
  src/backend/api/__init__.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/routes.py
  src/backend/api/routes.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/admin/__init__.py
  src/backend/api/admin/__init__.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/admin/controllers.py
  src/backend/api/admin/controllers.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/admin/models.py
  src/backend/api/admin/models.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/admin/routes.py
  src/backend/api/admin/routes.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/admin/schemas.py
  src/backend/api/admin/schemas.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/admin/utils.py
  src/backend/api/admin/utils.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/analysis/__init__.py
  src/backend/api/analysis/__init__.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/analysis/controllers.py
  src/backend/api/analysis/controllers.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/analysis/models.py
  src/backend/api/analysis/models.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/analysis/routes.py
  src/backend/api/analysis/routes.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/analysis/schemas.py
  src/backend/api/analysis/schemas.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/analysis/utils.py
  src/backend/api/analysis/utils.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/auth/__init__.py
  src/backend/api/auth/__init__.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/auth/controllers.py
  src/backend/api/auth/controllers.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/auth/models.py
  src/backend/api/auth/models.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/auth/routes.py
  src/backend/api/auth/routes.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/auth/schemas.py
  src/backend/api/auth/schemas.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/auth/utils.py
  src/backend/api/auth/utils.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/data_sources/__init__.py
  src/backend/api/data_sources/__init__.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/data_sources/controllers.py
  src/backend/api/data_sources/controllers.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/data_sources/models.py
  src/backend/api/data_sources/models.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/data_sources/routes.py
  src/backend/api/data_sources/routes.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/data_sources/schemas.py
  src/backend/api/data_sources/schemas.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/data_sources/utils.py
  src/backend/api/data_sources/utils.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/reports/__init__.py
  src/backend/api/reports/__init__.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/reports/controllers.py
  src/backend/api/reports/controllers.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/reports/models.py
  src/backend/api/reports/models.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/reports/routes.py
  src/backend/api/reports/routes.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/reports/schemas.py
  src/backend/api/reports/schemas.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/api/reports/utils.py
  src/backend/api/reports/utils.py
Owners: @api-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/connectors/__init__.py
  src/backend/connectors/__init__.py
Owners: @integration-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/connectors/database_connector.py
  src/backend/connectors/database_connector.py
Owners: @integration-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/connectors/erp_connector.py
  src/backend/connectors/erp_connector.py
Owners: @integration-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/connectors/file_connector.py
  src/backend/connectors/file_connector.py
Owners: @integration-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/connectors/generic_api_connector.py
  src/backend/connectors/generic_api_connector.py
Owners: @integration-team, @backend-team

.github/CODEOWNERS:

# Each line contains a file pattern followed by one or more owners who will be
# requested for review when a pull request modifies files matching that pattern.
# The last matching pattern takes precedence.

# Default ownership for all files in the repository
*                                       @project-leads

# Backend Python application code ownership
src/backend/                            @backend-team

# API endpoints and controllers
src/backend/api/                        @api-team @backend-team

# Core analysis engine with price movement calculations
src/backend/services/analysis_engine.py @data-science-team @backend-team

# Database models and schemas
src/backend/models/                     @data-team @backend-team

# External system connectors for TMS, ERP, etc.
src/backend/connectors/                 @integration-team @backend-team

# Web frontend application code
src/web/                                @frontend-team

# Data visualization components
src/web/src/components/charts/          @data-visualization-team @frontend-team

# Infrastructure as code, deployment configurations
infrastructure/                          @devops-team

# Terraform configurations for cloud infrastructure
infrastructure/terraform/                @cloud-team @devops-team

# Kubernetes deployment configurations
infrastructure/kubernetes/               @kubernetes-team @devops-team

# CI/CD pipeline configurations
.github/workflows/                       @ci-cd-team @devops-team

# Project documentation
docs/                                    @documentation-team

# Markdown documentation files
*.md                                     @documentation-team

# Backend test files
src/backend/tests/                       @qa-team @backend-team

# Frontend test files
src/web/tests/                           @qa-team @frontend-team

# End-to-end test files
src/web/cypress/                         @qa-team @frontend-team

# Database migration files
src/backend/migrations/                  @database-team @backend-team

# Security-related code
src/backend/core/security.py             @security-team @backend-team

# Logging and monitoring code
src/backend/core/logging.py              @observability-team @backend-team
