Repository copperpoddigital/create-agent-f16fhc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @api-team, @data-science-team, @data-team, @integration-team, @frontend-team, @data-visualization-team, @devops-team, @cloud-team, @kubernetes-team, @ci-cd-team, @documentation-team, @qa-team, @database-team, @security-team, @observability-team

.github/CODEOWNERS:

# Each line contains a file pattern followed by one or more owners who will be
# requested for review when a pull request modifies files matching that pattern.
# The last matching pattern takes precedence.

# Default ownership for all files in the repository
*                                       @project-leads

# Backend Python application code ownership
src/backend/                            @backend-team

# API endpoints and controllers
src/backend/api/                        @api-team @backend-team

# Core analysis engine with price movement calculations
src/backend/services/analysis_engine.py @data-science-team @backend-team

# Database models and schemas
src/backend/models/                     @data-team @backend-team

# External system connectors for TMS, ERP, etc.
src/backend/connectors/                 @integration-team @backend-team

# Web frontend application code
src/web/                                @frontend-team

# Data visualization components
src/web/src/components/charts/          @data-visualization-team @frontend-team

# Infrastructure as code, deployment configurations
infrastructure/                          @devops-team

# Terraform configurations for cloud infrastructure
infrastructure/terraform/                @cloud-team @devops-team

# Kubernetes deployment configurations
infrastructure/kubernetes/               @kubernetes-team @devops-team

# CI/CD pipeline configurations
.github/workflows/                       @ci-cd-team @devops-team

# Project documentation
docs/                                    @documentation-team

# Markdown documentation files
*.md                                     @documentation-team

# Backend test files
src/backend/tests/                       @qa-team @backend-team

# Frontend test files
src/web/tests/                           @qa-team @frontend-team

# End-to-end test files
src/web/cypress/                         @qa-team @frontend-team

# Database migration files
src/backend/migrations/                  @database-team @backend-team

# Security-related code
src/backend/core/security.py             @security-team @backend-team

# Logging and monitoring code
src/backend/core/logging.py              @observability-team @backend-team

Add public-samples/create-agent-f16fhc/src/backend/connectors/tms_connector.py
  src/backend/connectors/tms_connector.py
Owners: @integration-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/core/__init__.py
  src/backend/core/__init__.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/core/cache.py
  src/backend/core/cache.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/core/config.py
  src/backend/core/config.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/core/db.py
  src/backend/core/db.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/core/exceptions.py
  src/backend/core/exceptions.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/core/logging.py
  src/backend/core/logging.py
Owners: @observability-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/core/schemas.py
  src/backend/core/schemas.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/core/security.py
  src/backend/core/security.py
Owners: @security-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/core/utils.py
  src/backend/core/utils.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/migrations/__init__.py
  src/backend/migrations/__init__.py
Owners: @database-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/migrations/env.py
  src/backend/migrations/env.py
Owners: @database-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/models/__init__.py
  src/backend/models/__init__.py
Owners: @data-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/models/analysis_result.py
  src/backend/models/analysis_result.py
Owners: @data-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/models/audit_log.py
  src/backend/models/audit_log.py
Owners: @data-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/models/carrier.py
  src/backend/models/carrier.py
Owners: @data-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/models/enums.py
  src/backend/models/enums.py
Owners: @data-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/models/freight_data.py
  src/backend/models/freight_data.py
Owners: @data-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/models/location.py
  src/backend/models/location.py
Owners: @data-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/models/mixins.py
  src/backend/models/mixins.py
Owners: @data-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/models/route.py
  src/backend/models/route.py
Owners: @data-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/models/time_period.py
  src/backend/models/time_period.py
Owners: @data-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/models/user.py
  src/backend/models/user.py
Owners: @data-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/schemas/__init__.py
  src/backend/schemas/__init__.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/schemas/analysis_result.py
  src/backend/schemas/analysis_result.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/schemas/audit_log.py
  src/backend/schemas/audit_log.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/schemas/carrier.py
  src/backend/schemas/carrier.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/schemas/common.py
  src/backend/schemas/common.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/schemas/freight_data.py
  src/backend/schemas/freight_data.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/schemas/location.py
  src/backend/schemas/location.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/schemas/requests.py
  src/backend/schemas/requests.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/schemas/responses.py
  src/backend/schemas/responses.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/schemas/route.py
  src/backend/schemas/route.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/schemas/time_period.py
  src/backend/schemas/time_period.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/schemas/user.py
  src/backend/schemas/user.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/services/__init__.py
  src/backend/services/__init__.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/services/analysis_engine.py
  src/backend/services/analysis_engine.py
Owners: @data-science-team, @backend-team

Add public-samples/create-agent-f16fhc/src/backend/services/data_ingestion.py
  src/backend/services/data_ingestion.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/services/error_handling.py
  src/backend/services/error_handling.py
Owners: @backend-team

Add public-samples/create-agent-f16fhc/src/backend/services/integration.py
  src/backend/services/integration.py
Owners: @backend-team
