Repository copperpoddigital/create-agent-f16fhc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @api-team, @data-science-team, @data-team, @integration-team, @frontend-team, @data-visualization-team, @devops-team, @cloud-team, @kubernetes-team, @ci-cd-team, @documentation-team, @qa-team, @database-team, @security-team, @observability-team

Add public-samples/create-agent-f16fhc/.github/dependabot.yml
  .github/dependabot.yml
Owners: @project-leads

Add public-samples/create-agent-f16fhc/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @ci-cd-team, @devops-team

Add public-samples/create-agent-f16fhc/.github/workflows/deploy-dev.yml
  .github/workflows/deploy-dev.yml
Owners: @ci-cd-team, @devops-team

Add public-samples/create-agent-f16fhc/.github/workflows/deploy-prod.yml
  .github/workflows/deploy-prod.yml
Owners: @ci-cd-team, @devops-team

Add public-samples/create-agent-f16fhc/.github/workflows/deploy-staging.yml
  .github/workflows/deploy-staging.yml
Owners: @ci-cd-team, @devops-team

Add public-samples/create-agent-f16fhc/.github/workflows/infrastructure-ci.yml
  .github/workflows/infrastructure-ci.yml
Owners: @ci-cd-team, @devops-team

Add public-samples/create-agent-f16fhc/.github/workflows/web-ci.yml
  .github/workflows/web-ci.yml
Owners: @ci-cd-team, @devops-team

Add public-samples/create-agent-f16fhc/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/docs/api/api-examples.md
  docs/api/api-examples.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/docs/api/api-reference.md
  docs/api/api-reference.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/docs/architecture/component-diagram.md
  docs/architecture/component-diagram.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/docs/architecture/data-flow.md
  docs/architecture/data-flow.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/docs/architecture/security.md
  docs/architecture/security.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/docs/development/coding-standards.md
  docs/development/coding-standards.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/docs/development/setup.md
  docs/development/setup.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/docs/development/testing.md
  docs/development/testing.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/docs/operations/deployment.md
  docs/operations/deployment.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/docs/operations/disaster-recovery.md
  docs/operations/disaster-recovery.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/docs/operations/monitoring.md
  docs/operations/monitoring.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/docs/user/user-manual.md
  docs/user/user-manual.md
Owners: @documentation-team

Add public-samples/create-agent-f16fhc/infrastructure/docker/docker-compose.dev.yml
  infrastructure/docker/docker-compose.dev.yml
Owners: @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/docker/docker-compose.prod.yml
  infrastructure/docker/docker-compose.prod.yml
Owners: @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/kubernetes/base/backend-deployment.yaml
  infrastructure/kubernetes/base/backend-deployment.yaml
Owners: @kubernetes-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/kubernetes/base/backend-service.yaml
  infrastructure/kubernetes/base/backend-service.yaml
Owners: @kubernetes-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/kubernetes/base/cache-statefulset.yaml
  infrastructure/kubernetes/base/cache-statefulset.yaml
Owners: @kubernetes-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/kubernetes/base/configmap.yaml
  infrastructure/kubernetes/base/configmap.yaml
Owners: @kubernetes-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/kubernetes/base/db-statefulset.yaml
  infrastructure/kubernetes/base/db-statefulset.yaml
Owners: @kubernetes-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/kubernetes/base/ingress.yaml
  infrastructure/kubernetes/base/ingress.yaml
Owners: @kubernetes-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @kubernetes-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/kubernetes/base/secrets.yaml
  infrastructure/kubernetes/base/secrets.yaml
Owners: @kubernetes-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/kubernetes/base/web-deployment.yaml
  infrastructure/kubernetes/base/web-deployment.yaml
Owners: @kubernetes-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/kubernetes/base/web-service.yaml
  infrastructure/kubernetes/base/web-service.yaml
Owners: @kubernetes-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/kubernetes/overlays/dev/kustomization.yaml
  infrastructure/kubernetes/overlays/dev/kustomization.yaml
Owners: @kubernetes-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/kubernetes/overlays/prod/kustomization.yaml
  infrastructure/kubernetes/overlays/prod/kustomization.yaml
Owners: @kubernetes-team, @devops-team

Add public-samples/create-agent-f16fhc/infrastructure/kubernetes/overlays/staging/kustomization.yaml
  infrastructure/kubernetes/overlays/staging/kustomization.yaml
Owners: @kubernetes-team, @devops-team

.github/CODEOWNERS:

# Each line contains a file pattern followed by one or more owners who will be
# requested for review when a pull request modifies files matching that pattern.
# The last matching pattern takes precedence.

# Default ownership for all files in the repository
*                                       @project-leads

# Backend Python application code ownership
src/backend/                            @backend-team

# API endpoints and controllers
src/backend/api/                        @api-team @backend-team

# Core analysis engine with price movement calculations
src/backend/services/analysis_engine.py @data-science-team @backend-team

# Database models and schemas
src/backend/models/                     @data-team @backend-team

# External system connectors for TMS, ERP, etc.
src/backend/connectors/                 @integration-team @backend-team

# Web frontend application code
src/web/                                @frontend-team

# Data visualization components
src/web/src/components/charts/          @data-visualization-team @frontend-team

# Infrastructure as code, deployment configurations
infrastructure/                          @devops-team

# Terraform configurations for cloud infrastructure
infrastructure/terraform/                @cloud-team @devops-team

# Kubernetes deployment configurations
infrastructure/kubernetes/               @kubernetes-team @devops-team

# CI/CD pipeline configurations
.github/workflows/                       @ci-cd-team @devops-team

# Project documentation
docs/                                    @documentation-team

# Markdown documentation files
*.md                                     @documentation-team

# Backend test files
src/backend/tests/                       @qa-team @backend-team

# Frontend test files
src/web/tests/                           @qa-team @frontend-team

# End-to-end test files
src/web/cypress/                         @qa-team @frontend-team

# Database migration files
src/backend/migrations/                  @database-team @backend-team

# Security-related code
src/backend/core/security.py             @security-team @backend-team

# Logging and monitoring code
src/backend/core/logging.py              @observability-team @backend-team
